<%- include('../partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Browse our Faculty list, click on thier name to view details</p>

    <div class="sort-options">
        <span>Sort by: </span>
        <a href="/faculty" class="<%= currentSort === 'name' ? 'active' : '' %>">Name</a>
        <a href="/faculty?sort=department" class="<%= currentSort === 'department' ? 'active' : '' %>">Department</a>
        <a href="/faculty?sort=title" class="<%= currentSort === 'title' ? 'active' : '' %>">Title</a>
    </div>

     <div class="faculty-list">
        <% faculty.forEach(facultyMember => { %>
            <div class="faculty-card">
                <h3><a href="/faculty/<%= facultyMember.slug %>"><%= facultyMember.name %></a></h3>
                <p class="faculty-title"><%= facultyMember.title %></p>
                <p class="faculty-department"><%= facultyMember.department %></p>
            </div>
        <% }); %>
    </div>
</main>

<%- include('../partials/footer') %>